[Unit]
Description=resize root file system
After=systemd-remount-fs.service

[Service]
Type=oneshot
ExecStart=/usr/bin/edi-resize-rootfs

[Install]
WantedBy=multi-user.target

