[Unit]
Description=Resize Root File System
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=sysinit.target first-boot-complete.target shutdown.target
Wants=first-boot-complete.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/edi-resize-rootfs

[Install]
WantedBy=sysinit.target
